##1038 Snack

In [ ]:
X,Y=list(map(int,input().split()))
if(X == 1):
    price  = (float) (4.00 * Y)
elif(X == 2):
    price  = (float) (4.50 * Y)
elif(X == 3):
    price  = (float) (5.00 * Y)
elif (X == 4):
    price  = (float) (2.00 * Y);
elif (X == 5):
    price  = (float) (1.50 * Y)
print("Total: R$ %.2f"%price)

##1040 Average 3

In [ ]:
n1,n2,n3,n4=list(map(float,input().split()))
a=(((n1*2)+(n2*3)+(n3*4)+(n4*1))/10);
print("Media: %.1lf"%a)
if(a>=7.0):
    print("Aluno aprovado.")
elif(a<5.0):
    print("Aluno reprovado.")
elif(a>=5.0 and a<=6.9):
    print("Aluno em exame.")
    n5=float(input())
    print("Nota do exame: %.1lf"%n5)
    b=(a+n5)/2
    if(b>=5.0):
            print("Aluno aprovado.")
    if (b<=4.9):
            print("Aluno reprovado.")
    print("Media final: %.1lf"%b)

##1041 Coordinates of a Point

In [ ]:
X,Y=list(map(float,input().split()))
if(X==0 and Y==0):
    print("Origem")
elif(X==0):
    print("Eixo Y")
elif(Y==0):
    print("Eixo X")
elif(X>0 and Y>0):
    print("Q1")
elif(X<0 and Y>0):
    print("Q2")
elif(X<0 and Y<0):
    print("Q3")
elif(X>0 and Y<0):
    print("Q4")

##1042 Simple Sort

In [ ]:
x,y,z=list(map(int,input().split()))
lista = [x,y,z]
lista.sort()
print(lista[0])
print(lista[1])
print(lista[2])
print("")
print(x)
print(y)
print(z)

##1043 Triangle

In [ ]:
a,b,c=list(map(float,input().split()))
if(a<b+c and b < a + c and c < a + b):
     print("Perimetro = %0.1f"%(a + b + c))
else:
     print("Area = %0.1f"%((c * (a + b)) / 2))

##1044 Multiples

In [ ]:
a,b=list(map(int,input().split()))
if(b%a==0 or a%b==0):
    print("Sao Multiplos")
else:
    print("Nao sao Multiplos")

##1045 Triangle Types

In [ ]:
a,b,c=list(map(float,input().split()))
if(a < b):
    temp = a
    a = b
    b = temp
if(b < c):
    temp = b
    b = c
    c = temp
if(a < b):
    temp = a
    a = b
    b = temp
if(a>=(b+c)):
    print("NAO FORMA TRIANGULO")
elif(a*a == (b*b+c*c)):
     print("TRIANGULO RETANGULO")
elif(a * a > (b*b+ c*c)):
    print("TRIANGULO OBTUSANGULO")
elif(a*a<(b*b + c*c)):
    print("TRIANGULO ACUTANGULO")
if(a == b and b == c):
        print("TRIANGULO EQUILATERO")
elif(a == b or b == c):
        print("TRIANGULO ISOSCELES")

##1046 Game Time

In [ ]:
a,b=list(map(int,input().split()))
if(a<b):
    time=b-a
else:
    time=b+24-a
print("O JOGO DUROU {} HORA(S)".format(time))

##1047 	Game Time with Minutes

In [ ]:
s_h, s_m, e_h, e_m = list(map(int, input().split()))
if e_h > s_h or (e_h == s_h and e_m > s_m):

    h_diff = e_h - s_h
else:
    h_diff = (e_h - s_h) + 24
    
if e_m < s_m:
    h_diff -= 1
    m_diff = (e_m - s_m) + 60
else:
    m_diff = e_m - s_m

print('O JOGO DUROU ',h_diff,' HORA(S) E ', m_diff,' MINUTO(S)', sep='',end='\n')

##1048 Salary Increase

In [ ]:
a = float(input())
if(a>=0 and a<=400):
	b= a*0.15
	c=a+b
	d=15
elif(a>=400.01 and a<=800.00):
	b=a*0.12
	c=a+b
	d=12
elif(a>=800.01 and a<=1200.00):
    b=a*0.1
    c=a+b
    d=10
elif(a>=1200.01 and a<=2000.00):
	b=a*0.07
	c=a+b
	d=7
elif(a>2000):
	b=a*0.04
	c=a+b
	d=4
print("Novo salario: %.2f"%c)
print("Reajuste ganho: %.2f"%b)
print("Em percentual: {} {}".format(d,"%"))

##1049

In [ ]:
a=str(input())
b=str(input())
c=str(input())
if a == "vertebrado":
	if b=="ave":
		if c=="carnivoro":
			print("aguia")
		else:
			print("pomba")
	elif b=="mamifero":
		if c == "onivoro":
			print("homem")
		else:
			print("vaca")
elif a =="invertebrado":
	if b=="inseto":
		if c=="hematofago":
			print("pulga")
		else:
			print("lagarta")
	elif b=="anelideo":
		if c == "hematofago":
			print("sanguessuga")
		else:
			print("minhoca")

##1050

In [ ]:
n=int(input())
if(n == 61):
    print("Brasilia")
elif (n == 71):
    print("Salvador")
elif(n == 11):
    print("Sao Paulo")
elif(n == 21):
    print("Rio de Janeiro")
elif(n == 32):
    print("Juiz de Fora")
elif(n == 19):
    print("Campinas")
elif(n == 27):
    print("Vitoria")
elif(n == 31):
    print("Belo Horizonte")
else:
    print("DDD nao cadastrado")

##1051 taxes

In [ ]:
a=float(input())
if(a>=0 and a<=2000):
    print("Isento")
elif(a>=2000.01 and a<=3000):
    a=a-2000
    b= a*.08
    print("R$ %.2f"%b)
elif(a>=3000.01 and a<=4500):
    a=a-3000
    b= a*.18+80
    print("R$ %.2f"%b)
else:
   a=a-4500
   b= a*.28+350
   print("R$ %.2f"%b)

##1052 month

In [ ]:
x=int(input())
if(x==1):
    print("January")
elif(x==2):
    print("February")
elif(x==3):
    print("March")
elif(x==4):
    print("April")
elif(x==5):
    print("May")
elif(x==6):
    print("June")
elif(x==7):
    print("July")
elif(x==8):
    print("August")
elif(x==9):
    print("September")
elif(x==10):
    print("October")
elif(x==11):
    print("November")
elif(x==12):
    print("December")

##1059 even numbers

In [ ]:
for i in range(2,100+1):
    if(i%2==0):
        print(i)

##1060 positive number

In [ ]:
count=0
for i in range(1,7):
    n = float(input())
    if(n>0):
        count=count+1
print("{} valores positivos".format(count))

##1061 event time

In [ ]:
dia,date1=input().split()
date1 = int(date1)
h1,m1,s1=input().split(":")
h1 = int(h1)
m1 = int(m1)
s1 = int(s1)
dia,date2=input().split()
date2 = int(date2)
h2,m2,s2=input().split(":")
h2 = int(h2)
m2 = int(m2)
s2 = int(s2)

count_passed_second = (h1*60*60)+(m1*60)+s1
count_remain_second1 = (86400-count_passed_second)
count_remain_second2 = (h2*60*60)+(m2*60)+s2
date = (date2-1)-date1
count_date_second = date*86400
total_second = count_remain_second1+count_remain_second2+count_date_second


D = total_second/86400
total_second = total_second%86400
H = total_second/3600
total_second = total_second%3600
M = total_second/60
total_second = total_second%60
S = total_second
print("%i dia(s)"%D)
print("%i hora(s)"%H)
print("%i minuto(s)"%M)
print("%i segundo(s)"%S)

#1064 positive average

In [ ]:
count=0
sum=0.0
for i in range(1,7):
    n = float(input())
    if(n>0):
        sum = sum + n
        count=count+1
print("{} valores positivos".format(count))
print("%0.1f"%(sum/count))

##1065

In [ ]:
count=0
for i in range(5):
    n = float(input())
    if(n%2==0):
        count=count+1
print("{} valores pares".format(count))

#1066 Even, Odd, Positive and Negative

In [ ]:
even=0
odd=0
positive=0
negative=0
for i in range(5):
    n = float(input())
    if(n % 2 == 0):
         even = even+1
    else:
        odd =odd+1
    if (n > 0):
        positive =positive+1
    elif (n < 0):
        negative =negative+1
print("{} valor(es) par(es)".format(even))
print("{} valor(es) impar(es)".format(odd))
print("{} valor(es) positivo(s)".format(positive))
print("{} valor(es) negativo(s)".format(negative))

##1067 odd

In [ ]:
n = int(input())
for i in range(n+1):
    if(i%2==1):
        print(i)

##1070 Six Odd Numbers

In [ ]:
n=int(input())
i=0
while(i<6):
    if(n%2!=0):
        print(n)
        i=i+1
    n=n+1

##1071 constructive odd numbers

In [ ]:
def main():
    X = int(input())
    Y = int(input())
    start = min(X,Y)+1
    end = max(X,Y)
    if start % 2 == 0:
        start += 1

    sum = 0
    for i in range(start, end, 2):
        sum += i
    print(sum)
if __name__ == '__main__':
    main()

1072 Interval 2

In [ ]:
X=int(input())
inn=0
out=0
for i in range(0,X):
    N=int(input())
    if(10<=N<=20):
        inn+=1
    else:
        out+=1
print("%i in"%inn)
print("%i out"%out)

##1073 - Even Square

In [ ]:
n= int(input())
for i in range(1,n+1):
    if(i%2==0):
        print("{}^{} = {}".format(i,2,pow(i,2)))